        <div class="card bg-light mb-4" >
          <div class="card-body {{color}}" style="text-align:center">
            <h3 class="card-title" style="font-size: 5rem">
              <img src="{{avatar}}"/>
              {{value}}
            </h3>
            <div class="card-text">
              {{label}}         
            </div>
          </div>                    
          <div class="card-footer">
            <small class="text-muted">Last updated {{minsAgo}} mins ago</small>
          </div>
        </div>