  <!--  
  <nav class="nav navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Seeya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav nav-pills collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul>
      <li class="nav-item nav-link"><a href="/presence">Presence</a></li>
      <li class="nav-item nav-link"><ahref="/current">Current</a></li>
      <li class="nav-item nav-link"><a href="/post">Post</a></li>
      </ul>
    </div>
  </nav>    
--> 
  
     
  

  <nav class="nav navbar navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">
      <i class="fa-glasses"></i>
      Seeya
    </a>
    <a class="nav-item nav-link navbar-text" href="/presence">Presence</a>
    <a class="nav-item nav-link navbar-text" href="/current">Current</a>
    <a class="nav-item nav-link navbar-text" href="/post">Post</a>
  </nav>  
